# 数据库配置
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=your_database_password
DATABASE_NAME=stock_db
DATABASE_SYNC=false
NODE_ENV=production

# Docker镜像仓库配置（用于docker-compose.prod.yml）
# 根据你的阿里云镜像仓库信息配置：

# 阿里云容器镜像服务配置：
DOCKER_REGISTRY=crpi-qffyuxj0gnzlj59b.cn-hangzhou.personal.cr.aliyuncs.com
DOCKER_NAMESPACE=brooot
DOCKER_REPO_NAME=stock-system

# 注意：你创建的是单个仓库，我们将使用不同的标签来区分前后端镜像
# 前端镜像：stock-system:frontend-latest
# 后端镜像：stock-system:backend-latest
